<!DOCTYPE html>
<html>
<head>
    <title>Winnow Algorithm Results</title>
    <link rel="stylesheet"  href="{{ url_for('static', filename='css/winnow_style.css') }}">
</head>
<body>
    <div class="navbar">
        <a href="{{ url_for('home') }}"> Back To Home</a> <br>
        <a href="{{ url_for('services') }}"> Back To Services</a> <br>
        </div>
    <h1>Winnow Algorithm Results</h1>
    <h3>Feature importance results</h3>
    <img src="{{ plot_url }}" alt="Algorithm Result Plot" width="500px">
    <h3>Table of results</h3>
    <div>
        {{ table | safe }}
    </div>
    <a href="{{ csv_url }}" download class="download-button">Download Results as CSV</a>
    <footer>
        <p>&copy; 2024 DataInsight. All rights reserved.</p>
    </footer>
</body>
</html>