body {
    background-color: #f8d7da;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.error-container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    color: #721c24;
    margin-bottom: 20px;
}

p {
    color: #721c24;
    font-size: 1.2rem;
    margin-bottom: 20px;
}

a {
    color: #ffffff;
    background-color: #721c24;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1rem;
}

a:hover {
    background-color: #a94442;
}
