<!DOCTYPE html>
<html>
<head>
    <title>DataInsight</title>
    <link rel="stylesheet"  href="{{ url_for('static', filename='css/home_style.css') }}">

</head>
<body>
    <h1>DataInsight: Big Data Analytics Services</h1>
    <div class="navbar">
    <a href="{{ url_for('home') }}">Home</a> <br>
    <a href="{{ url_for('services') }}">Services</a> <br>
    <a href="{{ url_for('history') }}">History</a><br>
    {% if 'user_id' in session %}
            <a href="{{ url_for('logout') }}">Logout</a><br>
    {% else %}
            <a href="{{ url_for('login') }}">Login</a><br>
    {% endif %}
   
    </div>

    <div class="Home">
        <div class="about">
        <img src="{{ url_for('static', filename='images/DataInsight.png') }}" alt="Data" style="width:300px">
        <div>
        <h2>About Us</h2>
       <p> DataInsight is a comprehensive big data analytics solution designed to help businesses harness the power of their data. By integrating advanced front-end and back-end technologies, machine learning algorithms, and innovative data analytics methods, DataInsight provides valuable, actionable insights to business owners. Our system uses improved machine learning techniques, including advanced feature selection and custom algorithms, to ensure accuracy and reliability in analysis. DataInsight is built to support businesses in making data-driven decisions for a sustainable and successful future.</p> </div>
    </div>
       
    </div>
    <h1>Techniques</h1>

    <div class="techniques">
        
    <section id="bfr">
        <h3>BFR Algorithm</h3>
        <p>The BFR algorithm is used for clustering large datasets. It is an efficient algorithm that can handle large amounts of data and is particularly useful for data mining and machine learning applications.</p>
    </section>

    <section id="pcy">
        <h3>PCY Algorithm</h3>
        <p>The PCY algorithm is used for finding frequent itemsets in large datasets. It is an improvement over the Apriori algorithm and uses a hash-based approach to reduce the number of candidate itemsets.</p>
        
    </section>

    <section id="winnow">
        <h3>Winnow Algorithm</h3>
        <p>The Winnow algorithm is a machine learning algorithm used for binary classification. It is particularly effective in situations where the number of irrelevant features is large compared to the number of relevant features.</p>
    </section>
    </div>
    <div class="contact">
        <h1>Contact Us</h1>
        <p>If you have any questions or would like to learn more about our services, please contact us at:</p>
        <p>Email: heliahedayati01@gmail.com </p> </div>

    <footer>
        <p>&copy; 2024 DataInsight. All rights reserved.</p>
    </footer>
    
</body>
</html>